* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #D4BFA4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    padding: 0 15px;
    color: #51483E;
    text-align: center;
    font-size: 4vmax;
}

.header-nav ul li {
    display: inline-block;
}

.header-nav ul li a {
    text-decoration: none;
    text-align: right;
    padding-right: 20px;
    font-size: 2vmax;
    color: #51483E;
}

.hero {
    background: url(./assets/KakaoTalk_20201218_212745862.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.hero-text h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    align-items: center;
    font-size: 3vmax;
    color: white;
}

main {
    display: flex;
    padding-top: 20px;
}

.section-title {
    flex: 0 0 250px;
    text-align: center;
    color: #51483E;
}

aside {
    flex: 1;
    display: inline;
    padding-right: 40px;
    width: 100%;
    height: 100%;
    color: #51483E;
}

.grid {
    background: #ffffff;
}


.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1px;
    row-gap: 1px;
    padding-left: 250px;
    padding-right: 75px;
}

.grid-item {
    font-size: 20px;
    justify-content: center;
    background-color: lightblue;
    text-decoration: none;
    color: white;
    padding: 30px;
}

a {
    text-decoration: none;
}

.run-buddy {
    background-image: url(./assets/50-hero-section-mock-up.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column:1/span 1;
    grid-row: 1/span 3;
}

.placeholder {
    background-image: url(./assets/placeholder-image.jpg);
    background-size: contain;
    text-align: center;
}

.contact ul li {
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 50px;
}

.contact ul li a {
    text-decoration: none;
    text-align: center;
    color: #51483E;
}

@media screen and (max-width:700px) {
    body {
        background-color: #D4BFA4;
    }

    .wrapper {
        width: 100%;
    }

    .grid-container {
        width: 100%;
    }

    .flex-container {
        width: 100%;
    }
}