* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    padding: 0 15px;
    color: black;
    text-align: center;
    font-size: 4vmax;
}

.header-nav ul li {
    display: inline-block;
}

.header-nav ul li a {
    text-decoration: none;
    text-align: right;
    padding-right: 20px;
    font-size: 2vmax;
}

.hero {
    background: url(./assets/KakaoTalk_20201217_085716534.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.hero-text h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    align-items: center;
    font-size: 3vmax;
    color: white;
}

main {
    display: flex;
    padding-top: 20px;
}

.section-title {
    flex: 0 0 250px;
    text-align: center;
}

aside {
    flex: 1;
    display: inline;
    padding-right: 40px;
}